@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* styles login form */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Body background and layout */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Container for form */
.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 550px;
}

/* Header */
.header1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
    color: #000;
}

/* Position the parent relative so .icon positions correctly */
.input-wrapper {
    position: relative;
}

/* Input icon email envelope */
.icon{  
    position: absolute;
    top: 42%;
    left: 10px;
    color: #212121;
    pointer-events: none; /* so it won't block input clicks */
}

/* Input icon lock */
.icons {
    display: block;
    position: absolute;
    top: 42%;
    left: 10px;
    color: #000;
    pointer-events: none; /* so it won't block input clicks */
}

/* Input fields */
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s;
    padding-left: 35px;
}

/* Input fields */
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #000;
    outline: none;
}

/* label style */
label {
    font-size: 14px;
    color: #000;
}

/* Checkbox and link container */
.options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Checkbox and link container */
.checkbox-container {
    display: flex;
    align-items: center;
}

/* Checkbox and link container */
.checkbox-container input {
    margin-right: 6px;
}

/* forgot-password and link container */
.forgot-password-container a {
    font-size: 13px;
    color: #000;
    text-decoration: none;
}

/* forgot-password and link container */
.forgot-password-container a:hover {
    text-decoration: underline;
}

/* styles for buttons */
button[type="submit"] {
    width: 100%;
    background-color: #000000;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: border-color 0.3s;
    margin-top: 10px;
}

/* styles for buttons */
button[type=submit]:hover {
    background-color: #134686;
}

/* styles signin for link */
.signin-link {
    text-align: center;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 500;
}

/* styles signin for link */
.signin-link a {
    text-decoration: none;
    color: #7D0A0A;
}

/* styles signin for link */
.signin-link a:hover {
    text-decoration: underline;
}


